@inherits UmbracoViewPage

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Umbraco</p>
        <p> @Umbraco.AssignedContentItem.Value("footerText")</p>
    </div>
</footer>

<!-- Load WP function in backend -->
