@using UmbracoNet.Models;
@using Umbraco.Web.Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<MenuList>>


<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/home">Umbraco Test</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                @RenderSubItems(Model)
                @helper RenderSubItems(List<MenuList> menuItems)
                {
                    foreach (var item in menuItems)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@item.Link.Url">@item.Link.Text</a>
                        </li>
                    }
                }

                @*<li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Api</a>
                </li>*@
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>



