@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}

@* the fun starts here *@

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">



    <link href="~/css/app.css" rel="stylesheet"></noscript>

    <!-- Load WP function in backend -->

    <script type="module" src="~/scripts/vendors.js" defer></script>
    <script type="module" src="~/scripts/app.js" defer></script>

    <script nomodule src="~/scripts/vendors-legacy.js" defer></script>
    <script nomodule src="~/scripts/app-legacy.js" defer></script>

</head>

<body>
   
    @{ Html.RenderAction("RenderHeader", "SiteLayout");}


    @RenderBody()
    


  


    @{ Html.RenderAction("RenderFooter", "SiteLayout");}
</body>

</html>
