@inherits UmbracoViewPage
@using Umbraco.Web

@{
    Layout = "base.cshtml";
}

@* the fun starts here *@

<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="container">
                    <div class="carousel-caption text-left">

                        <h1>@Umbraco.AssignedContentItem.Value("headlineOneTitle")</h1>
                        <p>
                            @Umbraco.AssignedContentItem.Value("headlineOne")
                        </p>
                        <p><a class="btn btn-lg btn-primary" href="@Umbraco.AssignedContentItem.Value("testButton")" role="button">Go To Products</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>@Umbraco.AssignedContentItem.Value("headlineTwoTitle")</h1>
                        <p>
                            @Umbraco.AssignedContentItem.Value("headlineTwoText")
                        </p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>@Umbraco.AssignedContentItem.Value("headlineThreeTitle")</h1>
                        <p>
                            @Umbraco.AssignedContentItem.Value("headlineThreeText")
                        </p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">@Umbraco.AssignedContentItem.Value("killerTitle")</h2>
                <p class="lead">@Umbraco.AssignedContentItem.Value("killerDescription")</p>
            </div>
            <div class="col-md-5 order-md-1">                
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets/images/186002.jpg">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 ">
                <h2 class="featurette-heading">@Umbraco.AssignedContentItem.Value("thatGoodTitle")</h2>
                <p class="lead">@Umbraco.AssignedContentItem.Value("goodDescription")</p>
            </div>
            <div class="col-md-5 ">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets/images/186002.jpg">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">@Umbraco.AssignedContentItem.Value("checkmateTitle")</h2>
                <p class="lead">@Umbraco.AssignedContentItem.Value("checkmateDescription")</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="assets/images/186002.jpg">
            </div>
        </div>


    </div>

</main>
