@using System.Web.Mvc
@using UmbracoNet.Models

@model IEnumerable<UmbracoNet.Models.Product>


<main role="main">

    <div class="container mt-5">
        <div class="row">
            <div class="col-12"><h1>Api calls in reverse</h1></div>
        </div>
    </div>


    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" src="@Html.DisplayFor(modelItem => item.image)" alt="@Html.DisplayFor(modelItem => item.description)">
                            <div class="card-body">
                                <h3 class="card-title">
                                    @Html.DisplayFor(modelItem => item.name)
                                </h3>
                                <p class="card-text">
                                    
                                    @Html.DisplayFor(modelItem => item.description)
                                </p>
                            </div>
                        </div>
                    </div>
                }


            </div>

        </div>
    </div>

</main>
